@import "dracula.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

:root {
  --highlight-bg-color: #222222;
  --border-color: #3a3a3a;
  --hue: 270;
  --border-radius: 0.25em;
  --shadow-offset: 0.1em;
}
.rounded {
  border-radius: var(--border-radius);
}
.shadow {
  box-shadow: var(--shadow-offset) var(--shadow-offset) black;
  text-shadow: var(--shadow-offset) var(--shadow-offset) black;
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, table, ul {
  margin: 0.8rem 0;
}
hr {
  margin: 1.25em 0;
  height: 2px;
  border: none;
  background-color: var(--border-color);
}
pre {
  max-width: calc(50em - 2 * 1.5em);
  border-radius: var(--border-radius);
  background-color: var(--highlight-bg-color);
  padding: 0.5em;
  overflow: auto;
  font-family: monospace, monospace;
}
blockquote {
  border-left: 2px solid hsl(var(--hue), 25%, 50%);
  padding-left: 0.5em;
}
code {
  border-radius: var(--border-radius);
  background-color: var(--highlight-bg-color);
  white-space: pre;
  font-family: monospace, monospace;
}
a {
  text-decoration: none;
  color: hsl(var(--hue), 75%, 75%);
}
a:hover, a:active {
  text-decoration: underline;
}
table {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: fit-content;
  border-radius: var(--border-radius);
  background-color: var(--highlight-bg-color);
  overflow: auto;
  border-collapse: collapse;
}
table td, th {
  padding: 0.4em;
}
tbody tr:nth-child(odd) {
  background-color: #2c2c2c;
}
table td:first-child, th:first-child {
  padding-left: 0.5em;
}
table td:last-child, th:last-child {
  padding-right: 0.5em;
}
table tr:first-child th {
  padding-top: 0.5em;
}
table tr:last-child td {
  padding-bottom: 0.5em;
}
ul {
  padding-left: 1.35em;
}
p, li {
  text-align: justify;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  color: white;
}
main {
  margin: 1em auto;
  width: min-content;
  min-width: min(50em, 100%);
  max-width: 100%;
  padding: 0 1.5em;
}
header {
  background-color: hsl(var(--hue), 50%, 25%);
  padding: 0.75em 0;
  text-align: center;
}
header * {
  text-shadow: var(--shadow-offset) var(--shadow-offset) black;
  text-decoration: none !important;
  font-weight: bold;
  font-family: Merriweather, serif;
  color: white;
}

.anchor {
  margin-left: 0.5em;
  display: none;
  vertical-align: middle;
  font-size: 50%;
}
.anchor:hover {
  text-decoration: none;
}
/* Mmm! I love CSS selectors! */
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  display: inline-block;
}
