/* Dracula Theme v1.2.5
 *
 * https://github.com/zenorocha/dracula-theme
 *
 * Copyright 2016, All rights reserved
 *
 * Code licensed under the MIT license
 * http://zenorocha.mit-license.org
 *
 * @author Rob G <wowmotty@gmail.com>
 * @author Chris Bracco <chris@cbracco.me>
 * @author Zeno Rocha <hi@zenorocha.com>
 */

 .codehilite .hll { background-color: #f1fa8c }
 .codehilite  { /*background: #282a36;*/ color: #f8f8f2 }
 .codehilite .c { color: #6272a4 } /* Comment */
 .codehilite .err { color: #f8f8f2 } /* Error */
 .codehilite .g { color: #f8f8f2 } /* Generic */
 .codehilite .k { color: #ff79c6 } /* Keyword */
 .codehilite .l { color: #f8f8f2 } /* Literal */
 .codehilite .n { color: #f8f8f2 } /* Name */
 .codehilite .o { color: #ff79c6 } /* Operator */
 .codehilite .x { color: #f8f8f2 } /* Other */
 .codehilite .p { color: #f8f8f2 } /* Punctuation */
 .codehilite .ch { color: #6272a4 } /* Comment.Hashbang */
 .codehilite .cm { color: #6272a4 } /* Comment.Multiline */
 .codehilite .cp { color: #ff79c6 } /* Comment.Preproc */
 .codehilite .cpf { color: #6272a4 } /* Comment.PreprocFile */
 .codehilite .c1 { color: #6272a4 } /* Comment.Single */
 .codehilite .cs { color: #6272a4 } /* Comment.Special */
 .codehilite .gd { color: #8b080b } /* Generic.Deleted */
 .codehilite .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
 .codehilite .gr { color: #f8f8f2 } /* Generic.Error */
 .codehilite .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
 .codehilite .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
 .codehilite .go { color: #44475a } /* Generic.Output */
 .codehilite .gp { color: #f8f8f2 } /* Generic.Prompt */
 .codehilite .gs { color: #f8f8f2 } /* Generic.Strong */
 .codehilite .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
 .codehilite .gt { color: #f8f8f2 } /* Generic.Traceback */
 .codehilite .kc { color: #ff79c6 } /* Keyword.Constant */
 .codehilite .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
 .codehilite .kn { color: #ff79c6 } /* Keyword.Namespace */
 .codehilite .kp { color: #ff79c6 } /* Keyword.Pseudo */
 .codehilite .kr { color: #ff79c6 } /* Keyword.Reserved */
 .codehilite .kt { color: #8be9fd } /* Keyword.Type */
 .codehilite .ld { color: #f8f8f2 } /* Literal.Date */
 .codehilite .m { color: #bd93f9 } /* Literal.Number */
 .codehilite .s { color: #f1fa8c } /* Literal.String */
 .codehilite .na { color: #50fa7b } /* Name.Attribute */
 .codehilite .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
 .codehilite .nc { color: #50fa7b } /* Name.Class */
 .codehilite .no { color: #f8f8f2 } /* Name.Constant */
 .codehilite .nd { color: #f8f8f2 } /* Name.Decorator */
 .codehilite .ni { color: #f8f8f2 } /* Name.Entity */
 .codehilite .ne { color: #f8f8f2 } /* Name.Exception */
 .codehilite .nf { color: #50fa7b } /* Name.Function */
 .codehilite .nl { color: #8be9fd; font-style: italic } /* Name.Label */
 .codehilite .nn { color: #f8f8f2 } /* Name.Namespace */
 .codehilite .nx { color: #f8f8f2 } /* Name.Other */
 .codehilite .py { color: #f8f8f2 } /* Name.Property */
 .codehilite .nt { color: #ff79c6 } /* Name.Tag */
 .codehilite .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
 .codehilite .ow { color: #ff79c6 } /* Operator.Word */
 .codehilite .w { color: #f8f8f2 } /* Text.Whitespace */
 .codehilite .mb { color: #bd93f9 } /* Literal.Number.Bin */
 .codehilite .mf { color: #bd93f9 } /* Literal.Number.Float */
 .codehilite .mh { color: #bd93f9 } /* Literal.Number.Hex */
 .codehilite .mi { color: #bd93f9 } /* Literal.Number.Integer */
 .codehilite .mo { color: #bd93f9 } /* Literal.Number.Oct */
 .codehilite .sa { color: #f1fa8c } /* Literal.String.Affix */
 .codehilite .sb { color: #f1fa8c } /* Literal.String.Backtick */
 .codehilite .sc { color: #f1fa8c } /* Literal.String.Char */
 .codehilite .dl { color: #f1fa8c } /* Literal.String.Delimiter */
 .codehilite .sd { color: #f1fa8c } /* Literal.String.Doc */
 .codehilite .s2 { color: #f1fa8c } /* Literal.String.Double */
 .codehilite .se { color: #f1fa8c } /* Literal.String.Escape */
 .codehilite .sh { color: #f1fa8c } /* Literal.String.Heredoc */
 .codehilite .si { color: #f1fa8c } /* Literal.String.Interpol */
 .codehilite .sx { color: #f1fa8c } /* Literal.String.Other */
 .codehilite .sr { color: #f1fa8c } /* Literal.String.Regex */
 .codehilite .s1 { color: #f1fa8c } /* Literal.String.Single */
 .codehilite .ss { color: #f1fa8c } /* Literal.String.Symbol */
 .codehilite .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
 .codehilite .fm { color: #50fa7b } /* Name.Function.Magic */
 .codehilite .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
 .codehilite .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
 .codehilite .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
 .codehilite .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
 .codehilite .il { color: #bd93f9 } /* Literal.Number.Integer.Long */
