article > h1, h2, h3, h4, h5, h6 {
  margin-left: -1rem;
  margin-right: -1rem;
}
#date {
  display: block;
  margin-top: 1em;
  border-top: 1px solid var(--border-color);
  padding: 0.5em 0;
  text-align: right;
}
