<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title + ' by ' + site.author if page.title else site.title }}</title>
    <link rel="icon" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="icon" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" sizes="48x48" href="/static/favicon-48x48.png">
    <link rel="icon" sizes="192x192" href="/static/favicon-192x192.png">
    <link rel="stylesheet" href="/static/default.css">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <meta property="og:title" content="{{ page.title or site.title }}">
    {% if page.is_post %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | iso_date }}">
    <meta property="article:modified_time" content="{{ page.modified | iso_date }}">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:url" content="{{ page.url | abs_url }}">
    <meta property="og:image" content="/static/avatar.png">
    <meta property="og:description" content="{{ page.excerpt if page.is_post else site.description }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:site_name" content="{{ site.title }}">
  </head>
  <body>
    <header><a href="/">{{ site.title | smartify }}</a></header>
    <main>{% block main %}{{ page.content | safe }}{% endblock %}</main>
  </body>
</html>
