{% extends 'base.html' %}
{% block main %}
<link rel="stylesheet" href="/static/post.css">
<article>
  {% if page.title %}
  <h1>{{ page.title | smartify }}</h1>
  {% endif %}
  {% block article %}{{ page.content | anchorate | safe }}{% endblock %}
  {% if page.date %}
  <time id="date" datetime="{{ page.date | iso_date }}"><small>{{ page.date | human_date }}</small></time>
  {% endif %}
</article>
{% endblock %}
